
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  html, body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
  }

  #mapdiv {
    height: 100%;
    width: 100%;
  }

  #sidebar {
    height: 100%;
    position: fixed;
    bottom: 40px;
    color: black;
    top: 0px;
    width: 240px;
    bottom: 0px;
    background-color: rgba(255,255,255,.96);
    /*border-right: 1px solid black;*/
    overflow: hidden;
    transition: .15s;
    -moz-box-shadow:    3px 3px 5px .4px rgba(98,98,98,.5);
    -webkit-box-shadow: 3px 3px 5px .4px rgba(98,98,98,.5);
    box-shadow:         3px 3px 5px .4px rgba(98,98,98,.5);
  }

  #storyFeed {
    height: 70%;
    width: 100%;
    left: 20px;
    color: black;
    z-index: 0;
    overflow-y: scroll;
  }

  #cr {
    font-size: 12px;
    padding-left: 20px;
  }

  .storyTitle {
    border-color: black;
    border-top: .25px solid #efefef;
    padding-left: 7px;
    font-size: 16px;
    width: 100%;
  }

  .storyTitle:hover {
    background-color: #48a7c4;
    color: white;
    cursor: hand;
  }

  .storyTitle:active {
    background-color: black;
  }

  .storyTitle p {
    font-family: 'Georgia', Serif;
    width: 80%;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
  }

  .sidebarLinks {
    text-decoration: none;
    color: black;
    padding: 0px;
  }

  #link {
    text-decoration: none;
    color: black;
    padding: 0px;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  h1 {
    padding: 5px;
    padding-top: 30px;
    padding-left: 20px;
    overflow: hidden;
    font-family: 'Crete Round', serif;
  }

  #sidebar h1 {
    font-size: 15px;
    color: darkgray;
  }

  #content_container {
    background-color: rgba(255,255,255,1);
    /*border: 1px solid black;*/
    -moz-box-shadow:    3px 3px 3px 3px rgba(98,98,98,.2);
    -webkit-box-shadow: 3px 3px 3px 3px rgba(98,98,98,.2);
    box-shadow:         3px 3px 3px 3px rgba(98,98,98,.2);
    border-radius: 8px;
    width: 150px;
    height: 27px;
    color: black;
    position: absolute;
    bottom: 40px;
    right: 40px;
    padding: 0px;
    padding-left: 0px;
    padding-right: 5px;
    opacity: 0;
    transition: opacity .25s;
  }



  #articleThumbnail, #info_box {
    float: left;
  }

  #articleThumbnail {
    visibility: hidden;
  }

  #info-box {
    font-family: 'Crete Round', serif;
    width: 65%;
    overflow: hidden;
    line-height: 98%;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  #info-box p {
    font-family: 'Crete Round', serif;
    color: black;
  }

  #loc {
    float: bottom;
    float: left;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 10px;
  }

  #locP {
    padding-top: 2px;
    margin-top: 0px;
    padding-right: 5px;
    padding-bottom: 2px;
    text-align: left;
    padding-left: 3px;
    background-color: darkgrey;
    color: white;
    border-radius: 3px;
    visibility: hidden;
  }

  #hoverExp {
    font-size: 10px;
    padding-left: 8px;
  }

  #storyfeed p {
    padding: 7px;
  }

  #full_summary {
    height: 100%;
    width: 0px;
    max-width: 600px;
    position: fixed;
    right: 0px;
    top: 0px;
    background-color: rgba(255,255,255,.93);
    /*border-left: 1px solid black;*/
    z-index: 4;
    padding: 0px;
    overflow: hidden;
    transition: .4s;
    -moz-box-shadow:    3px 3px 5px 6px rgba(98,98,98,.5);
    -webkit-box-shadow: 3px 3px 5px 6px rgba(98,98,98,.5);
    box-shadow:         3px 3px 5px 6px rgba(98,98,98,.5);
    overflow-y: scroll;
  }

  #bigPicture {
    width: 95%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
    margin: 0px;
    text-align: center;
    max-height: 400px;
    overflow: hidden;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
  }

  #picture {
    height: 100%;
  }

  #full_summary p {
    width: 87%;
    color: black;
    font-size: 11px;
    text-decoration: bold;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Georgia, Serif;
  }


  #full_summary h1 {
    font-size: 37px;
    width: 94%;
    margin-bottom: 0px;
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 0px;
    font-family: 'Crete Round', serif;
    line-height: 100%;
    /*visibility: hidden;*/
    opacity: 0;
    color: #212121;
    border-bottom: 1px solid #efefef;
  }

  #full_summary h2 {
    width: 94%;
    font-size: 15px;
    font-family: Georgia, Serif;
    /*visibility: hidden;*/
    opacity: 0;
    padding-bottom: 13px;
    line-height: 150%;
    background-color: rgba(255,255,255,.97);
    position: absolute;
    bottom: 15%;
    margin-left: 0px;
    margin-right: 50px;
    width: 57%;
    padding: 20px;
    opacity: 0;
    -moz-box-shadow:    1px 1px 1px 1px rgba(98,98,98,.5);
    -webkit-box-shadow: 1px 1px 1px 1px rgba(98,98,98,.5);
    box-shadow:         1px 1px 1px 1px rgba(98,98,98,.5);
  }

  #full_summary h2:hover {
    text-decoration: underline;
  }

  #full_summary a {
    font-family: ‘Arial’, Gadget, sans-serif;
    font-size: 15px;
    color: black;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    margin-left: 15px;
    background-color: #2bb4ff;
    color: white;
    /*visibility: hidden;*/
    opacity: 0;
    border-radius: 5px;
    position: absolute;
    bottom: 12%;
  }

  #moreTitle, #author, #bigPicture, #abstract, #link, #about {
    transition: opacity .15s;
  }

  #link {
    background-color: darkgray;
  }

  #commentButton {
    background-color: red;
  }

  #full_summary a:hover {
    text-decoration: underline;
    background-color: black;
    border: 1px solid white;
    transition: .5s;
    visibility: hidden;
  }

  #comments {
    visibility: hidden;
  }

  a {
    color: white;
  }

  .navButton {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 5;
    width: 55px;
    height: 20px;
    font-size: 17px;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    text-align: center;
    font-family: Georgia, Serif;
    cursor: hand;
  }

  #exit {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 0%;
    max-width: 60px;
    font-size: 30px;
    /*visibility: hidden;*/
    opacity: 0;
    font-family: sans-serif;
    height: 20%;
    color: white;
    cursor: hand;
    text-align: center;
    z-index: 10;
    padding-top: 26%;
    background-color: lightgray;
    transition: width .4s, background-color .1s;
    -webkit-transition: width .4s, background-color .1s;
  }

  #exit img {
    width: 30px;
    padding: 8px;
  }

  #exit:hover {
    /*background-color: #DAEDF3;*/
    background-color: #f4bcbc;
  }


  .navButton:hover {
    background-color: #48a7c4;
    color: white;
    border: 3px solid white;
  }

  .navButton a {
    text-decoration: none;
  }

  #logo {
    width: 100%;
    /*height: 70px;*/
    background-color: #474747;
    padding: 0px;
    padding-top: 0px;
  }

  #logo img {
    width: 100%;
  }

  #logo p {
    font-size: 25px;
    margin: 0px;
    padding-left: 10px;
    color: white;
    font-family: ‘Arial’, Gadget, sans-serif;
  }

  #worldViewButton {
    font-family: 'Crete Round', serif;
    text-align: center;
    padding: 2px;
    position: absolute;
    top: 25px;
    left: 25px;
    width: 0px;
    background-color: black;
    font-size: 17px;
    z-index: 10;
    transition: width .5s;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    visibility: hidden;
    cursor: hand;
  }

  #worldViewButton:hover {
    background-color: #48a7c4;
    color: white;
    border: 3px solid white;
  }

  #forFb {
    display: none;
  }

  #content {
    display: none;
  }

  #loading {
    top: 200 px;
    margin: auto;
    position: absolute;
    z-index: 1000;
    width: 160px;
    height: 24px;
    background-color: black;
    cursor: wait;
  }